body {
  background-color: rgb(222, 231, 245);
}

.breed-select {
  margin: 30px;
  min-width: 300px;
  padding: 15px;
  font-size: 20px;
  color: #5353c5;
}

.loader {
  font-size: 25px;
  color: #5353c5;
  margin: 30px 30px;
}
.error {
  font-size: 25px;
  color: #ff3d00;
  margin: 30px 30px;
}
.load-logo {
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.load-logo::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  background: #5353c5;
  width: 3px;
  height: 24px;
  transform: translateX(-50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cat-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.js-cat-img {
  width: 400px;
  height: 100%;
}

.js-cat-description {
  max-width: 600px;
  margin: 0 auto;
  color: #5353c5;
}
